#Sean Broderickd
services:

#postgres docker
  db: 
    image: postgres:latest
    container_name: postgres_db
    restart: always 
    environment:
      POSTGRES_USER: usr 
      POSTGRES_PASSWORD: pw
      POSTGRES_DB: db
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

#frontend interface for postgres db
  adminer: 
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db

volumes:
  pgdata:

